@import url(./commont.scss);
@import url(./normalize.scss);
@import url(./util.scss);

//阿里矢量图icon  https://www.iconfont.cn/help/detail?spm=a313x.7781069.1998910419.d8cf4382a&helptype=code
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
